# mujoco            # (pip wheels include the 2.3 native libs)
# gymnasium[mujoco]
stable-baselines3
sb3-contrib
jax[cuda12_local]              # cpu or cuda wheel
brax
ray[default]
tensorboard
torch
PyYAML
moviepy
imageio
joblib
pre-commit
